<!DOCTYPE html>
<html>
<head>
  <title>Intermediate</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

       <p class="notice"><%= notice %></p>
<<<<<<< HEAD
       <p class="alert"><%= alert %></p>
=======
       <p class="alert"><%= alert %></p>	
>>>>>>> 396a348db66d1573baedf7fe69c43a154c44f2cb

<%= yield %>

</body>
</html>
